A:visited {
	COLOR: #62727f; TEXT-DECORATION: none
}
A:active {
	COLOR: #62727f; TEXT-DECORATION: none
}
A:link {
	COLOR: #0f6cb6; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.dropspot {
	FONT-STYLE: italic; FONT-FAMILY: Verdana, sans-serif; COLOR: #008000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none; x-text-underline: Off
}
BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 0px
}
H1 {
	BORDER-BOTTOM: #676767 3px solid; PADDING-BOTTOM: 8px; MARGIN-TOP: 20px; MARGIN-LEFT: 20pt; MARGIN-RIGHT: 20pt; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0pt; COLOR: #ff8200; FONT-SIZE: 12pt; VERTICAL-ALIGN: bottom; TOP: 0px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
LI.kadov-H1 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 14pt
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 15pt; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; MARGIN-LEFT: 0pt; FONT-SIZE: 12pt; PADDING-TOP: 0px
}
LI.kadov-H2 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 12pt
}
H3 {
	MARGIN-TOP: 10pt; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #08407a; MARGIN-LEFT: 20pt; FONT-SIZE: 10pt
}
LI.kadov-H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MARGIN-LEFT: 20pt; MARGIN-RIGHT: 20pt; FONT-SIZE: 9pt
}
LI.kadov-P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
P.Procedure {
	FONT-STYLE: normal; MARGIN-TOP: 20pt; MARGIN-BOTTOM: 16pt; COLOR: #c0550d; FONT-WEIGHT: bold; x-next-class: ; x-next-type: P
}
LI.kadov-P-CProcedure {
	FONT-STYLE: normal; COLOR: #c0550d; FONT-WEIGHT: bold
}
H2.Heading2RelNotes {
	FONT-SIZE: 14pt; x-next-class: ; x-next-type: P
}
LI.kadov-H2-CHeading2RelNotes {
	FONT-SIZE: 14pt
}
H3.Heading3RelNotes {
	FONT-SIZE: 12pt; x-next-class: ; x-next-type: P
}
LI.kadov-H3-CHeading3RelNotes {
	FONT-SIZE: 12pt
}
H2.Heading1RelNotes {
	MARGIN-LEFT: 0pt; FONT-SIZE: 18pt; x-next-class: ; x-next-type: P
}
LI.kadov-H2-CHeading1RelNotes {
	FONT-SIZE: 18pt
}
P.Tip {
	BORDER-BOTTOM: #08407a 1px solid; PADDING-BOTTOM: 3pt; BORDER-TOP: #08407a 1px solid; x-next-class: ; x-next-type: P
}
LI.kadov-P-CTip {
	
}
LI {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
#DSHelpContent {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
#DSHelpContent TABLE {
	MARGIN-TOP: 6pt; MARGIN-BOTTOM: 6pt
}
.unresolved {
	BACKGROUND-COLOR: skyblue
}
.noTemplate {
	BACKGROUND-COLOR: yellow
}
.base {
	BACKGROUND-COLOR: #ffffff
}
.p {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.figcap {
	FONT-STYLE: normal
}
.figdesc {
	FONT-STYLE: normal
}
.figborder {
	BORDER-BOTTOM: silver 2px solid; BORDER-LEFT: silver 2px solid; MARGIN-TOP: 1em; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-TOP: silver 2px solid; BORDER-RIGHT: silver 2px solid
}
.figsides {
	BORDER-BOTTOM-COLOR: silver; BORDER-LEFT: silver 2px solid; MARGIN-TOP: 1em; BORDER-TOP-COLOR: silver; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BORDER-RIGHT: silver 2px solid
}
.figtop {
	BORDER-BOTTOM-COLOR: silver; MARGIN-TOP: 1em; BORDER-RIGHT-COLOR: silver; BORDER-LEFT-COLOR: silver; BORDER-TOP: silver 2px solid
}
.figbottom {
	BORDER-BOTTOM: silver 2px solid; BORDER-TOP-COLOR: silver; BORDER-RIGHT-COLOR: silver; BORDER-LEFT-COLOR: silver
}
.figtopbot {
	BORDER-BOTTOM: silver 2px solid; MARGIN-TOP: 1em; BORDER-RIGHT-COLOR: silver; BORDER-LEFT-COLOR: silver; BORDER-TOP: silver 2px solid
}
.ullinks {
	LIST-STYLE-TYPE: none; MARGIN-TOP: 12pt; MARGIN-LEFT: 0pt
}
.ulchildlink {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 6pt
}
.olchildlink {
	MARGIN-TOP: 0pt; MARGIN-BOTTOM: 6pt
}
.linklist {
	MARGIN-BOTTOM: 1em
}
.linklistwithchild {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1.5em
}
.sublinklist {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1.5em
}
.relconcepts {
	MARGIN-TOP: 12pt; MARGIN-BOTTOM: 0pt
}
.reltasks {
	
}
.relref {
	MARGIN-TOP: 12pt; MARGIN-BOTTOM: 0pt
}
.relinfo {
	MARGIN-TOP: 12pt; MARGIN-BOTTOM: 0pt
}
.breadcrumb {
	MARGIN-BOTTOM: 1em; FONT-SIZE: smaller
}
.prereq {
	MARGIN-LEFT: 20px
}
.topictitle1 {
	BORDER-BOTTOM: #676767 3px solid; PADDING-BOTTOM: 8px; MARGIN-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0pt; COLOR: #ff8200; MARGIN-LEFT: 0px; FONT-SIZE: 12pt; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
.topictitle2 {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 15pt; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 12pt; PADDING-TOP: 0px
}
.topictitle3 {
	MARGIN-TOP: 10pt; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 10pt
}
.topictitle4 {
	MARGIN-TOP: 0.83em; FONT-SIZE: 1.17em; FONT-WEIGHT: bold
}
.topictitle5 {
	FONT-SIZE: 1.17em; FONT-WEIGHT: bold
}
.topictitle6 {
	FONT-STYLE: italic; FONT-SIZE: 1.17em
}
.sectiontitle {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 15pt; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #08407a; FONT-SIZE: 12pt; PADDING-TOP: 0px
}
.section {
	
}
.tablenoborder {
	MARGIN-LEFT: 0pt
}
.example {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt
}
.note {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.notetitle {
	FONT-WEIGHT: bold
}
.notelisttitle {
	FONT-WEIGHT: bold
}
.tip {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.tiptitle {
	FONT-WEIGHT: bold
}
.fastpath {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.fastpathtitle {
	FONT-WEIGHT: bold
}
.important {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.importanttitle {
	FONT-WEIGHT: bold
}
.remember {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.remembertitle {
	FONT-WEIGHT: bold
}
.restriction {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.restrictiontitle {
	FONT-WEIGHT: bold
}
.attention {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.attentiontitle {
	FONT-WEIGHT: bold
}
.dangertitle {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.danger {
	
}
.cautiontitle {
	FONT-WEIGHT: bold
}
.caution {
	MARGIN-TOP: 1em; FONT-FAMILY: Arial, sans-serif; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
UL.simple {
	LIST-STYLE-TYPE: none
}
.firstcol {
	FONT-WEIGHT: bold
}
.bold {
	FONT-WEIGHT: bold
}
.boldItalic {
	FONT-STYLE: italic; FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
.underlined {
	TEXT-DECORATION: underline
}
.uicontrol {
	FONT-WEIGHT: bold
}
.parmname {
	FONT-WEIGHT: bold
}
.kwd {
	FONT-WEIGHT: bold
}
.defkwd {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.var {
	FONT-STYLE: italic
}
.shortcut {
	TEXT-DECORATION: underline
}
.dlterm {
	FONT-WEIGHT: bold
}
.dltermexpand {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold
}
*[compact='yes'] > LI {
	MARGIN-TOP: 0em
}
*[compact='no'] > LI {
	MARGIN-TOP: 0.53em
}
.liexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.sliexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.dlexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.ddexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.stepexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
.substepexpand {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
DIV.imageleft {
	TEXT-ALIGN: left
}
DIV.imagecenter {
	TEXT-ALIGN: center
}
DIV.imageright {
	TEXT-ALIGN: right
}
DIV.imagejustify {
	TEXT-ALIGN: justify
}
.cellrowborder {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-FAMILY: Arial, sans-serif; BORDER-TOP-STYLE: none; FONT-SIZE: 9pt; BORDER-LEFT-STYLE: none
}
.row-nocellborder {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-FAMILY: Arial, sans-serif; BORDER-TOP-STYLE: none; FONT-SIZE: 9pt; BORDER-LEFT-STYLE: none
}
.cell-norowborder {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-FAMILY: Arial, sans-serif; BORDER-TOP-STYLE: none; FONT-SIZE: 9pt; BORDER-LEFT-STYLE: none
}
.nocellnorowborder {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; FONT-FAMILY: Arial, sans-serif; BORDER-TOP-STYLE: none; FONT-SIZE: 9pt; BORDER-LEFT-STYLE: none
}
PRE.screen {
	BORDER-BOTTOM-STYLE: outset; PADDING-BOTTOM: 5px; BORDER-RIGHT-STYLE: outset; BACKGROUND-COLOR: #cccccc; MARGIN-TOP: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; WHITE-SPACE: pre; BORDER-TOP-STYLE: outset; MARGIN-BOTTOM: 2px; MARGIN-LEFT: 0pt; BORDER-LEFT-STYLE: outset; PADDING-TOP: 5px
}
.familylinks {
	FONT-FAMILY: Arial, sans-serif; MARGIN-LEFT: 0pt; FONT-SIZE: 9pt
}
.relatedtopics {
	MARGIN-TOP: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0pt; COLOR: #08407a; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.relatedtopicslinks {
	LINE-HEIGHT: 150%; MARGIN-TOP: 0pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0pt; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
