#DSTopPageBanner {
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
	padding:0.8em 0 0.5em 0.5em;
	margin:0px 0px 10px -10px;
	width:100%;
	vertical-align: bottom;
 	background: #000 url('bg.jpg') no-repeat
}
}
#DSBreadCrumbTrail {
	POSITION: absolute; COLOR: #fff; FONT-SIZE: 11px; TOP: 108px; LEFT: 30px; margin-right:170px; height:auto;
}
#DSBreadCrumbTrail A {
	COLOR: #fff; FONT-SIZE: 11px
}
#DSBreadCrumbTrail A:hover {
	COLOR: #6c9fd1; text-decoration:none
}
#DSTopPageTitle {
	POSITION: ABSOLUTE; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #fff; FONT-SIZE: 22px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; MARGIN-TOP: 15px; MARGIN-LEFT: 15px;
}
#DSSearchGroup {
	POSITION: absolute; HEIGHT: 61px; RIGHT: 150px; TOP: 18px
}
#DSHelpProductsContent {
	CLEAR: both; MARGIN-TOP: 2px; MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px; MARGIN-BOTTOM: 20px;
}
#DSHelpContent {
	MARGIN-TOP: 2px; MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px; MARGIN-BOTTOM: 20px;
}
#DSMainContent {
	MARGIN-LEFT: 30px; MARGIN-RIGHT: 30px; MARGIN-TOP: 0; BACKGROUND-COLOR: #fff; HEIGHT: 100%; min-width: 970px;
}
#DSBannerImage {
	FLOAT:left; WIDTH: 100%; BACKGROUND-COLOR: #b91210;
}
#DSTopPane {
	background: #ececec url('../images/toppane.png') no-repeat top right; border-top-left-radius:5px; border-top-right-radius:5px; MARGIN-LEFT: 30px; MARGIN-RIGHT: 30px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px;PADDING: 0px; HEIGHT: 40px; min-width: 970px;
}
#DSTopPaneTitle, #DSTopPaneTitle A:hover {
	POSITION: ABSOLUTE; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5B7F95; FONT-SIZE: 22px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; MARGIN-TOP: 8px; MARGIN-LEFT: 10px
}
#DSLeftPane {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #fff; FLOAT: left; MARGIN-LEFT: 0px; FONT-SIZE: 8pt; OVERFLOW: visible; FONT-WEIGHT: normal; PADDING-TOP: 5px; BORDER-RIGHT: #5b7f95 2px solid; HEIGHT: 100%;
}
#DSRightPane {
	POSITION: relative; MIN-WIDTH: 100px; OVERFLOW: hidden; MARGIN-TOP: 0px; MARGIN-RIGHT: 0px;  BACKGROUND-COLOR: #fff; HEIGHT: 100%;
}
#DSMainPane {
	POSITION: relative; MIN-WIDTH: 100px; MARGIN-TOP: 15px; MARGIN-LEFT: 15px; OVERFLOW: hidden; MARGIN-RIGHT: 15px
}
.WebTreePadding {
	MARGIN: 0px
}
#helpFeedback {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#helpFeedback P {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; BOTTOM: 0px; PADDING-RIGHT: 10px; RIGHT: 0px; PADDING-TOP: 10px; TOP: 0px; LEFT: 0px
}
#helpFeedback TABLE {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
#helpFeedbackFooter {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #eaf0fc; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 40px; PADDING-TOP: 0px
}
#separator {
	BORDER-BOTTOM: #dfdfdf 1px solid; HEIGHT: 1px
}

#BelowBanner {
	POSITION: relative; MARGIN-TOP: 0px; TOP: 0px
}
#DSPrintFeedback {
	Z-INDEX: 3; POSITION: relative; TEXT-ALIGN: right; FLOAT: right; FONT-SIZE: 11px; TOP: -4px; margin-right: 18px;
}

#DSAboutSearch {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; MARGIN-BOTTOM: 30px; COLOR: #999999; FONT-SIZE: 11px
}
#copyright {
	POSITION: relative; TEXT-ALIGN: center; BOTTOM: 10px; FONT-SIZE: 10px
}
#helpFeedback DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#helpFeedbackFooter {
	BACKGROUND-COLOR: #e9f1fc; HEIGHT: 40px
}
DIV.helpRatings {
	BORDER-BOTTOM: #c0c0c0 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; BACKGROUND-COLOR: #f0f0f0; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px
}
.ie6Popup {
	Z-INDEX: 2; BORDER-BOTTOM: #cecece 2px solid; POSITION: fixed; BORDER-LEFT: #cecece 2px solid; PADDING-BOTTOM: 12px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 12px; WIDTH: 400px; PADDING-RIGHT: 12px; DISPLAY: none; HEIGHT: 120px; FONT-SIZE: 13px; BORDER-TOP: #cecece 2px solid; BORDER-RIGHT: #cecece 2px solid; PADDING-TOP: 12px; TOP: 74px; LEFT: 5px; _position: absolute
}
#ie6PopupClose {
	POSITION: absolute; LINE-HEIGHT: 14px; DISPLAY: block; COLOR: #6fa5fd; FONT-SIZE: 14px; RIGHT: 6px; FONT-WEIGHT: 700; TOP: 4px
}
.betaPopup {
	Z-INDEX: 2; BORDER-BOTTOM: #b2d4fa 2px solid; POSITION: fixed; BORDER-LEFT: #b2d4fa 2px solid; PADDING-BOTTOM: 12px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 12px; WIDTH: 540px; PADDING-RIGHT: 12px; DISPLAY: none; HEIGHT: 300px; FONT-SIZE: 13px; BORDER-TOP: #b2d4fa 2px solid; BORDER-RIGHT: #b2d4fa 2px solid; PADDING-TOP: 12px; TOP: 35px; RIGHT: 312px; _position: absolute
}
#aboutBetaClose {
	POSITION: absolute; LINE-HEIGHT: 14px; DISPLAY: block; COLOR: #6fa5fd; FONT-SIZE: 14px; RIGHT: 6px; FONT-WEIGHT: 700; TOP: 4px
}
.searchPopup {
	Z-INDEX: 2; BORDER-BOTTOM: #5b7f95 2px solid; POSITION: fixed; BORDER-LEFT: #5b7f95 2px solid; PADDING-BOTTOM: 12px; BACKGROUND-COLOR: white; MARGIN: 0px; PADDING-LEFT: 12px; WIDTH: 540px; PADDING-RIGHT: 12px; DISPLAY: none; HEIGHT: 215px; FONT-SIZE: 13px; BORDER-TOP: #5b7f95 2px solid; BORDER-RIGHT: #5b7f95 2px solid; PADDING-TOP: 12px; TOP: 285px; LEFT: 377px; _position: absolute
}
#aboutSearchClose {
	POSITION: absolute; LINE-HEIGHT: 14px; DISPLAY: block; COLOR: #5b7f95; FONT-SIZE: 14px; RIGHT: 6px; FONT-WEIGHT: 700; TOP: 4px
}
.ratingFlyoutPopup {
	clear: both; Z-INDEX: 10000; BORDER-BOTTOM: #b2d4fa 4px solid; POSITION: absolute; BORDER-LEFT: #b2d4fa 4px solid; BACKGROUND-COLOR: white; MARGIN: 0px; WIDTH: 570px; DISPLAY: none; VERTICAL-ALIGN: middle; BORDER-TOP: #b2d4fa 4px solid; RIGHT: 50px; BORDER-RIGHT: #b2d4fa 4px solid; TOP: 224px
}
.ratingFlyoutPopup .Comment {
	WIDTH: 400px; DISPLAY: block; MARGIN-BOTTOM: 10px; HEIGHT: 132px; MARGIN-LEFT: 0px; CLEAR: both
}
.ratingFlyoutPopup .emailField {
	WIDTH: 400px
}
.ratingFlyoutPopup .Button {
	MARGIN-TOP: 7px; FLOAT: right; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; PADDING-TOP: 0.2em
}
#lnkFeedbackCancel {
	MARGIN-TOP: 10px; FLOAT: right; COLOR: #0f6cb6; MARGIN-LEFT: 10px; FONT-SIZE: 10pt; MARGIN-RIGHT: 10px; PADDING-TOP: 0.2em
}
.helpFeedbackTitle {
	COLOR: #2f3281; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.helpFeedbackTitleUnderlined {
	BORDER-BOTTOM: #cfe4ff 1px solid; COLOR: #2f3281; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.helpFeedbackDescription {
	BORDER-BOTTOM: #cfe4ff 1px solid; COLOR: black; FONT-SIZE: 10pt
}
.helpFeedbackLabel {
	COLOR: #618cc3; FONT-SIZE: 10pt
}
.helpFeedbackText {
	COLOR: black; FONT-SIZE: 10pt
}
.helpRequiredText {
	COLOR: #b3191b; FONT-SIZE: 8pt
}
.custom-search-button {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #cccccc; LIST-STYLE-TYPE: none; OUTLINE-STYLE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.inline-block-static {
	POSITION: static; DISPLAY: inline-block
}
.searchbutton {
	MARGIN: 4px 2px 0px 6px
}
.search-button-inner-box {
	BORDER-BOTTOM: #999999 0px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px -1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FONT-FAMILY: Verdana; FONT-SIZE: 8.5pt; VERTICAL-ALIGN: top; BORDER-TOP: #999999 0px solid; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 4px
}
.search-button-outer-box {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 0px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: top; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 0px solid; PADDING-TOP: 0px
}
.IFrmSearch {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.KBTopicLink {
	BACKGROUND-IMAGE: url(../images/kb.gif); BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f1f2f2; MARGIN-TOP: 15px; PADDING-LEFT: 36px; WIDTH: 694px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 5px center; FLOAT: left; MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px; FONT-SIZE: 9pt; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 10px; Overflow:visible;
}
.ForumHeader {
	BACKGROUND-IMAGE: url(../images/forum.gif); BORDER-BOTTOM: #e1e1e1 0px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f1f2f2; MARGIN-TOP: 15px; PADDING-LEFT: 36px; WIDTH: 714px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 3px center; FLOAT: left; COLOR: #4e4e4f; MARGIN-LEFT: 20px; FONT-SIZE: 9pt; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 10px
}
.ForumFrame {
	BACKGROUND-IMAGE: url(../images/SWForums.jpg); BORDER-BOTTOM: #e1e1e1 0px solid; BORDER-LEFT: #e1e1e1 0px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FLOAT: left; MARGIN-LEFT: 20px; FONT-SIZE: 9pt; BORDER-TOP: #e1e1e1 0px solid; BORDER-RIGHT: #e1e1e1 0px solid; PADDING-TOP: 0px
}
.KBSearchLink {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.about-search {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #999999; FONT-SIZE: 11px
}
A.SWComLink:link {
	FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.SWComLink:visited {
	FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
A.SWComLink:hover {
	FONT-FAMILY: Verdana; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: bold
}
HTML.busy {
	CURSOR: wait
}
HTML.busy * {
	CURSOR: wait
}
#footer-bar {
	background:url(../images/footerbar_bg.jpg) 0 0 repeat-x transparent; height:50px; margin-top: 20px; clear: both;
}
#footer-bar .links {
	padding-top:10px; text-align:center
}
#footer-bar .copyright {
	margin-top:5px; text-align:center
}
#footer-bar, #footer-bar a {
	font-size: 11px; color: #707473; font-weight: bold; text-decoration: none
}
#footer-bar a:hover {
	text-decoration: underline
}

#footer-bar p {
	padding:0; margin:0
}